@media screen and (min-width: 721px){
    body {
        max-width: 71.5rem;
        margin: auto;
        padding: 1.5rem 2.5rem;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    }
    
    #logo {
        height: 4rem;
        margin-top: 1.5rem;
        margin-bottom: 2rem;
    }

    .optnContainer{
        margin-top: 5rem;
    }

    .option {
        display: inline-block;
        width: 20rem;
        line-height: 20rem;
        background-color: #f2f3f6;
        text-align: center;
        border-radius: 1rem;
        font-weight: 700;
        font-size: 2rem;
        margin: 1.5rem;
    }

    .gridCenter{
        width: 100%;
        display: grid;
        place-items: center;
    }

}
@media screen and (max-width: 720px){
    body {
        margin: 0;
        margin: 1.5rem 1rem;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    }
    
    #logo {
        height: 3rem;
        margin-top: .5rem;
        margin-bottom: 2rem;
    }

    .optnContainer{
        display: grid;
        place-items: center;
    }

    .option {
        display: inline-block;
        width: 20rem;
        line-height: 10rem;
        background-color: #f2f3f6;
        text-align: center;
        border-radius: 1rem;
        font-weight: 700;
        font-size: 2rem;
        margin: 1rem 0;
    }

    .first {
    }

    .second {
    }
}

